.masthead__menu-item i, .masthead__menu-item svg {
  background: transparent !important;
  box-shadow: none !important;
}
/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: #ffffff !important; /* Nearly white, gentle yellow warmth */
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #32006e;
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.masthead__menu-item {
  background-color: transparent;
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: bold;
}

.masthead__menu-item a {
  color: #000 !important;
  font-family: Helvetica, Arial, sans-serif;
  background: transparent !important;
}

.masthead__menu-item a:hover,
.masthead__menu-item a:active,
.masthead__menu-item a:visited {
  background: transparent !important;
}
